<div class="divide80"></div>

<div class="login-form">
	<h4>Editar Contenido</h4>
	<%= render 'form', content: @content %>

</div>


<%= link_to 'Show', @content %> |
<%= link_to 'Back', root_path %>
