<div class="divide80"></div>

<div class="login-form">
	<h1>Editar Direccion de Facturación</h1>
	<%= render 'form', direcciones_factura: @direcciones_factura %>
</div>


<%= link_to 'Ver', @direcciones_factura, class:'btn btn-primary'  %> |
<%= link_to 'Regresar', direcciones_facturas_path, class:'btn btn-primary'  %>

<div class="divide40"></div>