<div class="divide80"></div>

<div class="login-form">
	<h4>Editar Producto</h4>
	<%= render 'form', productos_especiale: @productos_especiale %>
</div>


<%= link_to 'Ver', @productos_especiale, :class => 'btn btn-primary' %> |
<%= link_to 'Volver', productos_especiales_path, :class => 'btn btn-primary' %>
