<div class="divide80"></div>

<div class="login-form">
	<h4>Nuevo producto especial</h4>
	<%= render 'form', productos_especiale: @productos_especiale %>
</div>

<div class="divide40"></div>
<%= link_to 'Back', productos_especiales_path, class: 'btn btn-primary' %>

<div class="divide40"></div>