<div class="divide80"></div>

<div class="login-form">
	<h4>Nueva Razón Comercial</h4>

	<%= render 'form', razones_comerciale: @razones_comerciale, class:'btn btn-primary' %>
</div>


<%= link_to 'Regresar', razones_comerciales_path(razon: @razones_sociale.id), class:'btn btn-primary' %>

<div class="divide40"></div>
