<div class="divide80"></div>

<h1>Editar producto</h1>

<%= render 'form', product_order: @product_order %>

<%= link_to 'Ver', @product_order, class:'btn btn-primary'  %> |
<%= link_to 'Regresar', product_orders_path(:pedido => @pedido), class:'btn btn-primary'  %>
<div class="divide40"></div>
