<div class="divide80"></div>

<h1>Nuevo producto</h1>

<%= render 'form', product_order: @product_order %>

<%= link_to 'Regresar', product_orders_path(:pedido => @pedido) %>
<div class="divide40"></div>
