<div class="divide80"></div>

<h1>Añadir producto</h1>

<div class="login-form">
	<%= render 'form', product_order: @product_order %>
</div>

<div class="divide40"></div>
<%= link_to 'Regresar', product_orders_path(:pedido => @pedido), :class => 'btn btn-primary' %>
<div class="divide40"></div>
