<div class="divide80"></div>
<h1>Editar Factura</h1>

<%= render 'form', factura: @factura %>

<%= link_to 'Show', @factura, class:'btn btn-primary' %> |
<%= link_to 'Back', facturas_path, class:'btn btn-primary' %>
<div class="divide40"></div>