<div class="divide80"></div>

<div class="login-form">
	<h4>Añadir Factura</h4>
	<%= render 'form', factura: @factura %>
</div>

<%= link_to 'Back', facturas_path, class:'btn btn-primary' %>
<div class="divide40"></div>