<footer id="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-3 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3><%= Content.find(7).title %></h3>
                            <p>
                                <%= Content.find(7).body %>
                            </p>
                            <% if user_signed_in? %>
                                <% if current_user.admin? %>
                                    <%= link_to 'Edit', edit_content_path(Content.find(7)) %>
                                <% end %>
                            <% end %>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-3 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>Contacto</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong>Dirección:</strong> Cancún</p></li> 
                                <li><p><strong>E-mail:</strong> <a href="#">decovi@decovi.com</a></p></li>
                                <li> <p><strong>Teléfono:</strong> 8123456789</p></li>
                              

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                </div>
            </div>
        </footer><!--default footer end here-->
