<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2><strong>Bienvenido a Decovi</strong></h2>
                <%= image_tag("imgDecovi.png", class:'img-responsive center-block') %>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent augue leo, condimentum in faucibus a, posuere non elit. Pellentesque imperdiet arcu et sem malesuada, placerat tempus leo euismod. Fusce ornare erat lectus, nec eleifend nulla molestie id. Ut consequat vulputate massa convallis molestie. 
                </p>
                
            </div>
        </div>
    </div>
</div>
