<section id="home-parallax" class="parallax" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <h1 class="white">Bienvenido a DECOVI</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <span class="parallax-buttons">
            <%= link_to 'Ver productos', home_productos_path, class: "btn border-white btn-lg"%>
        </span>
    </div>
</section><!--parallax-background-->

<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>DECOVI</h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
            </div>
        </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed green">
                <h3>Decovi</h3>
                <span class="center-line"></span>
                <p>
                    Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris. 
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <h3>Decovi</h3>
                <span class="center-line"></span>
                <p>
                    Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris. 
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed blue">
                <h3>Decovi</h3>
                <span class="center-line"></span>
                <p>
                    Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris. 
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed red">
                <h3>Decovi</h3>
                <span class="center-line"></span>
                <p>
                    Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris. 
                </p>
            </div>
        </div><!--colored boxed col end-->
    </div>
</div><!--services container-->

<script type="text/javascript">
    document.getElementById("mainContainer").className = "";
</script>
