<div class="divide70"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2><strong>Productos</strong></h2>
                <span class="center-line"></span>
            </div>
        </div>                   
    </div>
    <div class="row">
        <div class="col-sm-4 margin30">
            <div>
                <a href="#">
                    <div class="item-img-wrap">
                        <%= image_tag("transparente.png", class:'img-responsive') %>
                        <div class="item-img-overlay">
                            <span></span>
                        </div>
                    </div>                       
                </a>
                <div class="news-desc text-center">
                    <h4>Transparente</h4>
                </div>
            </div> 
        </div>
        <div class="col-sm-4 margin30">
            <div>
                <a href="#">
                    <div class="item-img-wrap">
                        <%= image_tag("imgDecovi.png", class:'img-responsive') %>
                        <div class="item-img-overlay">
                            <span></span>
                        </div>
                    </div>                       
                </a>
                <div class="news-desc text-center">
                    <h4>Glitter</h4>
                </div>
            </div> 
        </div>
        <div class="col-sm-4 margin30">
            <div>
                <a href="#">
                    <div class="item-img-wrap">
                        <%= image_tag("arqueologica.png", class:'img-responsive') %>
                        <div class="item-img-overlay">
                            <span></span>
                        </div>
                    </div>                       
                </a>
                <div class="news-desc text-center">
                    <h4>Argueológica</h4>
                </div>
            </div> 
        </div>
    </div>
</div>