<div class="divide80"></div>

<h1>Editing Pedido</h1>

<%= render 'form', pedido: @pedido %>

<%= link_to 'Ver', @pedido, class:'btn btn-primary' %> |
<%= link_to 'Regresar', pedidos_path, class:'btn btn-primary' %>
<div class="divide40"></div>
