<div class="divide80"></div>

<h1>Nuevo Pedido</h1>

<div class="login-form">
	<%= render 'form', pedido: @pedido %>
</div>

<div class="divide40"></div>

<%= link_to 'Regresar', pedidos_path, class:'btn btn-primary' %>

<div class="divide40"></div>