<div class="divide80"></div>

<div class="login-form">
	<h4>Nuevo Producto</h4>
	<%= render 'form', producto: @producto %>
</div>


<%= link_to 'Regresar', productos_path, class:'btn btn-primary' %>
<div class="divide40"></div>