<div class="divide80"></div>

<div class="login-form">
	<h4>Editar Dirección de entrega</h4>
	<%= render 'form', direcciones_entrega: @direcciones_entrega %>
</div>


<%= link_to 'Ver', @direcciones_entrega, class:'btn btn-primary'  %> |
<%= link_to 'Regresar', direcciones_entregas_path, class:'btn btn-primary'  %>

<div class="divide40"></div>