<div class="divide80"></div>

<h1>Editar Dirección de entrega</h1>

<%= render 'form', direcciones_entrega: @direcciones_entrega %>

<%= link_to 'Ver', @direcciones_entrega, class:'btn btn-primary'  %> |
<%= link_to 'Regresar', direcciones_entregas_path, class:'btn btn-primary'  %>

<div class="divide40"></div>